<!-- templates/voter_analytics/voters.html -->
{% extends 'voter_analytics/base.html' %}
{% block content %}

<h2>Voters</h2>

<h1>Search</h1>

<form method="get" class="filter-form">
    <div class="filter-row">
        <label for="party">Party Affiliation:</label>
        <select name="party" id="party">
        <option value="">All</option>
        <!-- list provided by TA
         D     Democratic
        R     Republican
        CC    Constitution Party
        L     Libertarian Party
        T     Tea Party
        O     Other
        G     Green Party
        J     Independent Party
        Q     Reform Party
        FF    Freedom Party -->
        <option value="D">D</option>
        <option value="R">R</option>
        <option value="CC">CC</option>
        <option value="L">L</option>
        <option value="T">T</option>
        <option value="O">O</option>
        <option value="G">G</option>
        <option value="J">J</option>
        <option value="Q">Q</option>
        <option value="FF">FF</option>
    </select>
    </div>

    <div class="filter-row">
        <label for="min_dob">Minimum DOB:</label>
        <select name="min_dob" id="min_dob">
            <option value="">Any</option>
            {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="filter-row">
        <label for="max_dob">Maximum DOB:</label>
        <select name="max_dob" id="max_dob">
            <option value="">Any</option>
            {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="filter-row">
        <label for="voter_score">Voter Score:</label>
        <select name="voter_score" id="voter_score">
            <option value="">All</option>
            {% for score in voter_scores %}
                <option value="{{ score }}">{{ score }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="filter-row">
        <label>Voted in Elections:</label>
        <div class="checkbox-row">
            <label><input type="checkbox" name="v20state" {% if request.GET.v20state %}checked{% endif %}> 2020 State Election</label>
            <label><input type="checkbox" name="v21town" {% if request.GET.v21town %}checked{% endif %}> 2021 Town Election</label>
            <label><input type="checkbox" name="v21primary" {% if request.GET.v21primary %}checked{% endif %}> 2021 Primary Election</label>
            <label><input type="checkbox" name="v22general" {% if request.GET.v22general %}checked{% endif %}> 2022 General Election</label>
            <label><input type="checkbox" name="v23town" {% if request.GET.v23town %}checked{% endif %}> 2023 Town Election</label>
        </div>
    </div>

    <div class="filter-row">
        <input type="submit" value="Search">
    </div>
    
</form>

<h1>Voters List</h1>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Date of Birth</th>
            <th>Party</th>
            <th>Voter Score</th>
        </tr>
    </thead>
    <tbody>
        {% for voter in voters %}
        <tr>
            <td><a href="{% url 'voter' voter.pk %}">{{ voter.first_name }}</a></td>
            <td>{{ voter.last_name }}</td>
            <td>{{ voter.street_number }} {{ voter.street_name }}{% if voter.apartment_number %}, Apt {{ voter.apartment_number }}{% endif %}, {{ voter.zip_code }}</td>
            <td>{{ voter.date_of_birth|date:"M d, Y" }}</td>
            <td>{{ voter.party_affiliation }}</td>
            <td>{{ voter.voter_score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

        <!-- navigation for different pages of results -->
        <div class="row">
            {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                {% endif %}

                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>

                {% if page_obj.has_next %}
                    <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                {% endif %}

            </ul>
            {% endif %}
        </div>

{% endblock %}
