<!-- project/templates/project/delete_review_form.html -->
{% extends 'project/base.html' %}

{% block title %}
    Confirm Delete Status Message
{% endblock %}

<!-- One form to confirm the delete. It will send a POST back to the same URL at which you are trying to do the delete. -->
{% block content %}
    <h2>Are you sure you want to delete this status message?</h2>
    <p>{{ review.message }}</p> 
    <p>(Posted on: {{ review.timestamp }})</p>

    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes, Delete" class="button">
    </form>

    <!-- one form to cancel the delete. It will send a GET to URL to redisplay the profile page. -->
    <a href="{% url 'show_profile' review.profile.pk %}" class="button">Cancel</a>

{% endblock %}