<!-- project/templates/project/friend_suggestions.html -->

{% extends 'project/base.html' %}

{% block title %}
    Friend Suggestions for {{ profile.first_name }}
{% endblock %}

{% block content %}
<section class="top-section">
    <h2>Friend Suggestions for {{ profile.first_name }} {{ profile.last_name }}</h2>
    
    {% if friend_suggestions %}
        <ul>
            {% for suggestion in friend_suggestions %}
                    {{ suggestion.first_name }} {{ suggestion.last_name }}
                    <a href="{% url 'add_friend' suggestion.pk %}" class="order-card-header-button">Add Friend</a>
                    <br><br>
            {% endfor %}
        </ul>
    {% else %}
        <p>No friend suggestions available at this time.</p>
    {% endif %}

    <a href="{% url 'show_profile' profile.pk %}" class="order-card-header-button">Back to Profile</a>

</section>

{% endblock %}

