<!-- project/templates/project/update_profile_form.html -->
<!-- Paula Lopez Burgos, paulalb@bu.edu, 12/04/2024 -->
<!-- template that allows logged in user to update their profile -->

{% extends 'project/base.html' %}
<section class="top-section">
{% block title %}
    Update Profile for {{ profile.first_name }} {{ profile.last_name }}
{% endblock %}

{% block content %}
    <h2>Update Profile</h2>
    
    <!-- form to update -->
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="order-card-header-button">Update Profile</button>
    </form>

    <a href="{% url 'show_profile' profile.pk %}" class="button">Back to Profile</a>
</section>
{% endblock %}