<!-- templates/restaurant/main.html -->
<!-- a template that extends the base.html template and fills in the content block with specific page detail -->
{% extends 'restaurant/base.html' %}

{%load static%}

{% block title %}
    Restaurant - Main Page
{% endblock %}

{% block content %}
    <h2>Paula's Italian Palazzo</h2>
    <p>Welcome to our restaurant! We offer a variety of delicious italians meals and daily specials to satisfy your cravings.</p>
    <p>Please check out our menu and order your favorites online. </p>
    <p>We look forward to serving you!</p>
    <!-- <img src="{% static 'restaurant/restaurant.jpeg' %}" alt="Restaurant" width="500" height="300"><br> -->

    <!-- Bootstrap Carousel for slideshow -->
    <div id="restaurantCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'restaurant/restaurant.jpeg' %}" class="d-block w-100" alt="Restaurant Picture 1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'restaurant/Jacuzzi_Resturant_Interios_Nacho_Rivera_Photographer_London_-1-15.webp' %}" class="d-block w-100" alt="Restaurant Picture 2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'restaurant/images.jpeg' %}" class="d-block w-100" alt="Restaurant Picture 3">
            </div>
            <div class="carousel-item">
                <img src="{% static 'restaurant/images (1).jpeg' %}" class="d-block w-100" alt="Restaurant Picture 4">
            </div>
            <div class="carousel-item">
                <img src="{% static 'restaurant/creamy-tuscan-chicken-683x1024.jpg' %}" class="d-block w-100" alt="Restaurant Picture 5">
            </div>
            <div class="carousel-item">
                <img src="{% static 'restaurant/1000s.jpg' %}" class="d-block w-100" alt="Restaurant Picture 6">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#restaurantCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#restaurantCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>    

{% endblock %}

