<!-- blog/templates/blog/base.html -->
<!-- a template with common HTML code that will be re-used by all of the other templates-->

{% load static %}
<html>
    <head>
        <title>Our Blog!</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <nav>
            <ul><a href="{% url 'show_all' %}">Show All</a></ul>
            <ul><a href="{% url 'random' %}">Random</a></ul>
            <!-- <ul>Logged in user: {{ request.user }}</ul> -->
            {% if request.user.is_authenticated %}
            Logged in user: {{ request.user }}.
            {% else %}
            Not logged in.
            {% endif %}
        </nav>
        
        {% block content %}
        <!-- fill in this section with specific page detail -->
        {% endblock %}

    </body>
</html>