<!-- mini_fb/templates/mini_fb/base.html -->
<!-- a template with common HTML code that will be re-used by all of the other templates-->

{% load static %}
<html>
    <head>
        <title>Mini Facebook!</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <!-- Header -->
    <header>
        <h1>CS Geniuses Mini Facebook</h1>
    </header>

    <body>
        <nav>
            <ul>
                <!-- <li><a href="{% url 'show_all_profiles' %}">Home</a></li> -->
                <!-- <li><a href="{% url 'show_all_profiles' %}">Show All Profiles</a></li> -->
                <!-- <li><a href="{% url 'create_profile' %}">Create New Profile</a></li> -->
                <!-- Revise the base.html template to account for having an authenticated user. show which user is logged in -->
                {% if user.is_authenticated %}
                    <!-- log out url post method form-->
                    <form method="POST" action="{% url 'logged_out' %}">
                        {% csrf_token %}

                        <!-- navigation URLS for logged in user -->
                        <li><a href="{% url 'create_profile' %}">Create New Profile</a></li>
                        <li><a href="{% url 'show_all_profiles' %}">Show All Profiles</a></li>

                        <!-- link to show this users profile -->
                        <!-- find this users profile by matching fk to profile.user -->
                        {% for profile in profiles %}
                            {% if profile.user == user %}
                                <li><a href="{% url 'show_profile' profile.pk %}">{{profile.first_name}} {{profile.last_name}}'s Profile</a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- button that redirects to logout.html template -->
                        <input type="submit" value="Logout" class="button2">
                        <input type="hidden" value="{% url 'logged_out' %}" name="next">
                    </form> 
                    <li2>Welcome, {{ user.username }} !</li2>
                {% else %}
                    <li2>Not logged in!</li2>

                    <!-- navigation URLS for not logged in person -->
                    <li><a href="{% url 'show_all_profiles' %}">Show All Profiles</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li> <br>
                    
                {% endif %}
            </ul>
        </nav>
        
        {% block content %}
        <!-- fill in this section with specific page detail -->
        {% endblock %}

        <!-- Footer -->
        <footer>
            <p>&copy; 2024 Paula Lopez Burgos Mini Facebook. All Rights Reserved.</p>
        </footer>

    </body>
</html>



