<!-- mini_fb/templates/mini_fb/base.html -->
<!-- a template with common HTML code that will be re-used by all of the other templates-->

{% load static %}
<html>
    <head>
        <title>Mini Facebook!</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <!-- Header -->
    <header>
        <h1>CS Geniuses Mini Facebook</h1>
    </header>

    <body>
        <nav>
            <ul>
                <li><a href="{% url 'show_all_profiles' %}">Home</a></li>
                <li><a href="{% url 'show_all_profiles' %}">Show All Profiles</a></li>
                <li><a href="{% url 'create_profile' %}">Create New Profile</a></li>
                <!-- Revise the base.html template to account for having an authenticated user. show which user is logged in -->
                <li2>{% if request.user.is_authenticated %}
                    Logged in user: {{ request.user }}
                {% else %}
                    Not logged in.
                {% endif %}
                </li2>
            </ul>
        </nav>
        
        {% block content %}
        <!-- fill in this section with specific page detail -->
        {% endblock %}

        <!-- Footer -->
        <footer>
            <p>&copy; 2024 Paula Lopez Burgos Mini Facebook. All Rights Reserved.</p>
        </footer>

    </body>
</html>



