<!-- mini_fb/templates/mini_fb/create_profile_form.html -->
<!-- render the HTML form.  -->
<!-- Your form must:
    definite the <form> tags, and set the form’s method to POST
    include the django-created csrf_token as a form field
    provide a submit button -->

    {% extends 'mini_fb/base.html' %}

    {% block content %}
    
    <h2>Create a Status</h2>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
            <tr>
                <td><label for="files">Upload Image(s):</label></td>
                <td><input type="file" name = "files" multiple /></td>
                <td><input type="submit" name="submit" value="Create Status"></td>
            </tr>
        </table>
    </form>
    
    {% endblock %}